<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Theater</title>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<link rel="stylesheet" href="static/css/styles.css" type="text/css" media="screen" />
</head>
<body>
<div id="container">
  <!-- Start of Page Title -->
  <div id="page_title">
    <h1><span>National Theater</span></h1>
  </div>
  <!-- End of Page Title -->
  <!-- Start of Left Column -->
  <div id="left_column">
    <div id="page_image">&nbsp;</div>
    <!-- Start of Page Menu -->
    <div id="page_menu">
      <ul>
        <li id="menu1"><a href="/"><span>Home</span></a></li>
        <li id="menu2"><a href="/play"><span>Plays</span></a></li>
        <li id="menu3"><a href="/team"><span>Team</span></a></li>
        <li id="menu4"><a href="/gallery"><span>Gallery</span></a></li>
        <li id="menu5"><a href="/tickets"><span>Tickets</span></a></li>
        <li id="menu6"><a href="/reviews"><span>Reviews</span></a></li>
      </ul>
      <div class="clearthis">&nbsp;</div>
    </div>
    <!-- End of Page Menu -->
    <!-- Start of Latest News -->
    <div id="latestnews">
      <h2><span>Latest shows</span></h2>
      <p>Here, you can be sure that always will find the latest shows, interpreted by our awesome team.</p>
      <p>We enjoy a lot writing new scenarios and delivering perfection every single time!</p>
      <p>Check our latest plays, and after you'll see them, don't hesitate on leaving some awesome reviews :)</p>
    </div>
    <!-- End of Latest News -->
  </div>
  <!-- End of Left Column -->
  <!-- Start of Right Column -->
  <div id="right_column">
    <!-- Start of Latest Video -->
    <div id="latestvideo">
      <h2><span>Latest Video</span></h2>
      <div class="thumbnail"><img src="static/images/th2.png" width="320" height="180" alt="Thumbnail Caption" /></div>
      <p>Don't you ever forget about your soul...or your mind! Here, you can please both of them.</p>
      <p>Welcome in the greatest world, the world of entertainment, of tragedy, of love, of everything.</p>
    </div>
    <!-- End of Latest Video -->
    <!-- Start of Album Review -->
    <div id="albumreview">
      <h2><span>Album Review</span></h2>
      <div class="thumbnail"><img src="static/images/th.png" width="250" height="150" alt="Thumbnail Caption" /></div>
      <p>Our team is the best! And it's not about modesty :)...</p>
      <p>Come here and convince yourself, you'll fall in love with our awesome team!</p>

    </div>
    <!-- End of Album Review -->
  </div>
  <!-- End of Right Column -->
  <!-- Start of Page Footer -->
  <div id="page_footer">Contact us at <a href="https://www.teatrulnationalcluj.ro/">National Theater Cluj-Napoca</a></div>
  <!-- End of Page Footer -->
</div>
</body>
</html>
